.label1{
  -fx-border-color: #000;
  -fx-border-radius: 0 15 15 0;
  -fx-background-radius: 0 15 15 0;
  -fx-background-color: #000;
  -fx-text-fill: #fff;

  /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}

Button {
  -fx-font-size: 16px;
}
